
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title>Checkout example for Bootstrap</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

        <!-- Bootstrap core CSS -->
        <link href="CSS/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="CSS/form-validation.css" rel="stylesheet">
    </head>

    <body class="bg-light">

        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h2>Checkout form</h2>
                <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">

                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted"></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (INR)</span>
                            <strong>Rs.2000</strong>
                        </li>
                    </ul>


                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <form class="needs-validation" method="POST" action="https://api.razorpay.com/v1/checkout/embedded" novalidate>
                        <div class="row">
                            <input type="hidden" name="key_id" value=#{key}>
<input type="hidden" name="order_id" value=#{order_id}>
<input type="hidden" name="name" value="Acme Corp">
<input type="hidden" name="description" value="A Wild Sheep Chase">
<input type="hidden" name="image" value="https://cdn.razorpay.com/logos/BUVwvgaqVByGp2_large.png">
<input type="hidden" name="prefill[name]" value="Gaurav Kumar">
<input type="hidden" name="prefill[contact]" value="9123456780">
<input type="hidden" name="prefill[email]" value="gaurav.kumar@example.com">
<input type="hidden" name="notes[shipping address]" value="L-16, The Business Centre, 61 Wellfield Road, New Delhi - 110001">
<input type="hidden" name="callback_url" value="https://whispering-beach-85196.herokuapp.com/">
<input type="hidden" name="cancel_url" value="https://example.com/payment-cancel">

    <div class="col-md-6 mb-3">
        <label for="firstName">Name</label>
        <input type="text" name="prefill[name]" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
            Valid  Name is required.
        </div>
    </div>

        </div>



        <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" name="prefill[email]" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback"> Please enter a valid email address.
            </div>
        </div>

        <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" name="notes[shipping address]" class="form-control" id="address"  required>
            <div class="invalid-feedback">  Please enter your address.
            </div>
        </div>

            <div class="mb-3">
                <label for="Contact">Contact</label>
                <input type="text" name="prefill[email]" class="form-control" id="contact"  required>
                <div class="invalid-feedback">  Please enter your Contact 
                </div>
        </div>


        <div class="row">

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="rzp-button1">Continue to payment</button>


    </form>
        </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2018 Company Name</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        //- <script src="javascript/checkout.js"></script>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
        //- <script>
        //-     // Example starter JavaScript for disabling form submissions if there are invalid fields
        //-     (function() {
        //-         'use strict';

        //-         window.addEventListener('load', function() {
        //-             // Fetch all the forms we want to apply custom Bootstrap validation styles to
        //-             var forms = document.getElementsByClassName('needs-validation');

        //-             // Loop over them and prevent submission
        //-             var validation = Array.prototype.filter.call(forms, function(form) {
        //-                 form.addEventListener('submit', function(event) {
        //-                     if (form.checkValidity() === false) {
        //-                         event.preventDefault();
        //-                         event.stopPropagation();
        //-                     }
        //-                     form.classList.add('was-validated');
        //-                 }, false);
        //-             });
        //-         }, false);
        //-     })();
        //- </script>
    </body>
</html>








//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>Document</title>
//- </head>
//- <body>
//-     <form action="https://www.example.com/payment/success/" method="POST"> // Replace this with your website's success callback URL
//- <script
//-     src="https://checkout.razorpay.com/v1/checkout.js"
//-     data-key="YOUR_KEY_ID" // Enter the Key ID generated from the Dashboard
//-     data-amount="50000" // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
//-     data-currency="INR"
//-     data-order_id="order_CgmcjRh9ti2lP7"//This is a sample Order ID. Pass the `id` obtained in the response of the previous step.
//-     data-buttontext="Pay with Razorpay"
//-     data-name="Acme Corp"
//-     data-description="Test transaction"
//-     data-image="https://example.com/your_logo.jpg"
//-     data-prefill.name="Gaurav Kumar"
//-     data-prefill.email="gaurav.kumar@example.com"
//-     data-prefill.contact="9999999999"
//-     data-theme.color="#F37254" ></script>
//- <input type="hidden" custom="Hidden Element" name="hidden">
//- </form>
//- </body>
//- </html>