<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href="CSS/dashboard/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>Lebenstill | Dashboard </title>
</head>

<body>
<header class="header">
    <nav class="nav nav--tours"><a class="nav__el" href="#">Welcome #{name.split(" ")[0]}</a>
    //- <img src="/img/logo-white.png" alt="Natours logo"></nav>
    //- <nav class="nav nav--user"><button class="nav__el">Log out</button><button class="nav__el nav__el--cta">Sign up</button>
<nav class="nav logout nav--user">
a.nav__el.logout(href="/") Log out
a.nav__el(href="#")
    img.nav__user-img(src="img/users/10.jpg" alt="User photo")
    span #{name.split(" ")[0]}

    </nav>
</header>
<main class="main">
<div class="user-view">
    <nav class="user-view__menu">
        <ul class="side-nav">
            <li class="side-nav--active"><a href="#"><svg>
                <use xlink:href="img/icons.svg#icon-settings"></use>
</svg>Settings</a></li>
    <li><a href="#"><svg>
        <use xlink:href="img/icons.svg#icon-briefcase"></use>
</svg>My bookings</a></li>
    <li><a href="#"><svg>
        <use xlink:href="img/icons.svg#icon-star"></use>
</svg>My reviews</a></li>
    <li><a href="#"><svg>
        <use xlink:href="img/icons.svg#icon-credit-card"></use>
</svg>Billing</a></li>
    </ul>
    //- <div class="admin-nav">
    //-     <h5 class="admin-nav__heading">Admin</h5>
    //-     <ul class="side-nav">
    //-         <li><a href="#"><svg>
    //-             <use xlink:href="img/icons.svg#icon-map"></use>
    //-         </svg>Manage tours</a></li>
    //-         <li><a href="#"><svg>
    //-             <use xlink:href="img/icons.svg#icon-users"></use>
    //-         </svg>Manage users</a></li>
    //-         <li><a href="#"><svg>
    //-             <use xlink:href="img/icons.svg#icon-star"></use>
    //-         </svg>Manage reviews</a></li>
    //-         <li><a href="#"><svg>
    //-             <use xlink:href="img/icons.svg#icon-briefcase"></use>
    //-         </svg></a></li>
    //-     </ul>
    //- </div>
    </nav>
    <div class="user-view__content">
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
            <form class="form form-user-data">
                <div class="form__group"><label class="form__label" for="name">Name</label><input class="form__input" id="name" type="text" value="Jonas Schmedtmann" required></div>
                <div class="form__group ma-bt-md"><label class="form__label" for="email">Email address</label><input class="form__input" id="email" type="email" value="admin@natours.io" required></div>
                <div class="form__group form__photo-upload"><img class="form__user-photo" src="img/users/10.jpg" alt="User photo"><a class="btn-text" href="">Choose new photo</a></div>
                <div class="form__group right"><button class="btn btn--small btn--green">Save settings</button></div>
            </form>
        </div>
        <div class="line">&nbsp;</div>
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Password change</h2>
            <form class="form form-user-settings">
                <div class="form__group"><label class="form__label" for="password-current">Current password</label><input class="form__input" id="password-current" type="password" placeholder="••••••••" required minlength="8"></div>
                <div class="form__group"><label class="form__label" for="password">New password</label><input class="form__input" id="password" type="password" placeholder="••••••••" required minlength="8"></div>
                <div class="form__group ma-bt-lg"><label class="form__label" for="password-confirm">Confirm password</label><input class="form__input" id="password-confirm" type="password" placeholder="••••••••" required minlength="8"></div>
                <div class="form__group right"><button class="btn btn--small btn--green">Save password</button>
</main>
    //- <div class="footer"></div>
    //-     </div>
    //-         </form>
    //-     </div>
    //- </div>
    //- <div class="footer__logo"><img src="/img/logo-green.png" alt="Natours logo">
    //- <ul class="footer__nav">
    //-     <li><a href="#">About us</a></li>
    //-     <li><a href="#">Download apps</a></li>
    //-     <li><a href="#">Become a guide</a></li>
    //-     <li><a href="#">Careers</a></li>
    //-     <li><a href="#">Contact</a></li>
    //- </ul>
    //- <p class="footer__copyright">&copy; by Jonas Schmedtmann. All rights reserved.</p>
    //- </div>
</div>
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
<script src="javascript/dashboard.js"></script>
</body>