<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lebensstil | Home</title>
        <link rel="shortcut icon" type="image/x-icon" href= "img/homepage/logo-icon.png"/>

        <link href="CSS/css/bootstrap.min.css" rel="stylesheet">
        <link href="CSS/bootstrap-theme.min.css" rel="stylesheet">

        <link href="CSS/css/owl.carousel.css" rel="stylesheet">
        <link href="CSS/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="CSS/css/magnific-popup.css" rel="stylesheet">

        <link href="CSS/css/style.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="#about"><li>About</li></a>
                    <a href="##workstation"><li>Benefits</li></a>
                    //- <a href="#workstation"><li>Portfolio</li></a>
                    <a href="#team"><li>Team</li></a>
                    <a href="#contact"><li>Contact</li></a>
                    <a href="/login"><li>Login</li></a>
                </ul>
            </div>




        </div>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-ubutia">
                    <div class="container">
                        <div class="navigation-bar">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="logo">
                                        <a href="index.html"><span class="ubutia-icon"></span></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <div class="menu m">
                                        <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Lebensstil</h1>
                                <p>way of living</p>
                                <a class="btn ubutia-btn" href="/signup">Get enrolled</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">About us</h2>
                            <p>
                                This is a platform for those who urges for a better lifestyle and attractive personality because we all are agree that, a person has no value until they grasp a good personality and foremost confidence.
                            </p>
                            <img src=" img/homepage/output-onlinepngtools (2).png">
                            <!-- <span>ubutia Studio-ceo</span> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="purpose section">
                <div class="container">
                    <h2 class="title">What we do</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="graphic-design" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    <!-- <h3>Graphic Design</h3> -->
                                    <p>
                                        Our perspective is that to modify your perspective towards your lifestyle; turns yourself into a better you, to make you obsessed with your personality, that is what this lifestyle development programme is all about
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="webdevelopment" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    //- <h3>Web Development</h3> 
                                    <p>This programme come up with a platform for lifestyle junctures and many more things which are going to hold forth you after you join to us.

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="printing" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    <!-- <h3>Printing Design</h3> -->
                                    <p>
                                        Because this is the era of brands; the most expensive brands and everyone wants to have branded articles enshrined in their closet. So, this programme precedes you to the brands and maintains your lifestyle with it.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="expertise" class="expert">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 bg-img">
                            <div></div>
                        </div>
                        <div class="col-sm-5 section">
                            <h2 class="title">Bring the X-Factor</h2>
                            <div id="expert-slider" class="owl-carousel">
                                <div class="item">
                                    <p>
                                        LIFESTYLE DEVELOPMENT PROGRAMME is about to bring that X-factor which is missing in your personality i.e. a good and maintainable lifestyle. This is a platform for those who urges for a better lifestyle and attractive personality because we all are agree that, a person has no value until they grasp a good personality and foremost confidence.
                                    </p>
                                </div>
                                <div class="item">
                                    <p>
                                        This impactful programme is like a directive way in your life which as a matter of course makes you confident. This programme endows sessions about a good lifestyle & personality which leads your way to gainfully employed. This programme does not want to mould your real personality but makes you a better one is our aim. All that things which is important for you and  which are going to affect your personality; we are going to altercate in this programme
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ubutia-quote section bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="quote" src=" img/homepage/quote.png">
<p>  Life isn’t about finding yourself. Life is about creating yourself.
</p>
<p class="author">George Bernard Shaw</p>
<img src=" img/homepage/mouse.png">
    </div>
        </div>
            </div>
            </section>
            <section id="workstation" class="work section">
                <div class="container">
                    <h2 class="title">Benefits</h2>
                    <div id="workstation-slider" class="owl-carousel">
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src="img/homepage/4 (1).jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Enormous lifestyle</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/5.jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Foremost confidence</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/6.jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Attractive personality</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/4 (5).jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Modified perspective</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/4 (3).jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Intensify skills</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/4 (4).jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Lifestyle enhancement</h3>
                                    //- <p>
                                    //-     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun.
                                    //- </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            //- <section class="watch bg-img">
            //-     <div class="container">
            //-         <div class="row">
            //-             <div class="col-sm-12">
            //-                 <span>Watch showreel</span>
            //-                 <a class="popup-youtube btn" href="https://www.youtube.com/watch?v=oMIENcW6QM0"><span class="play-icon"></span></a>
            //-                 <span>with us</span>
            //-             </div>
            //-         </div>
            //-     </div>
            //- </section>
            <section id="team" class="team section">
                <div class="container">
                    <h2 class="title">Our team</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/rsz_whatsapp_image_2020-06-05_at_15650_am.jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>MAYANK JAIN</h3>
                                    <p>CEO/Founder
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="https://www.instagram.com/mayank.ehsaas/"><li><span class="ion-social-instagram"></span></li></a>
                                            <a href="https://www.linkedin.com/in/mayank-jain-98aa1b16b/"><li><span class="ion-social-linkedin"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src=" img/homepage/rsz_img_20200524_133758_483.jpg">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Aman jain</h3>
                                    <p>Web Developer
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="https://www.instagram.com/aman_jaiinn/"><li><span class="ion-social-instagram"></span></li></a>
                                            <a href="https://www.linkedin.com/in/aman-jain-3b7b0a187/"><li><span class="ion-social-linkedin"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        //- <div class="col-sm-4">
                        //-     <div class="ubutia-card">
                        //-         <div class="ubutia-card-header">
                        //-             <img class="img-responsive" src=" img/homepage/10.jpg">
                        //-         </div>
                        //-         <div class="ubutia-card-content">
                        //-             <h3>Graham Bill</h3>
                        //-             <p>
                        //-                 Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consetetur,adipisivelit, sed quia non numquam eius modi tempora incidun. 
                        //-             </p>
                        //-             <div class="social-icons">
                        //-                 <ul>
                        //-                     <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                        //-                     <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                        //-                 </ul>
                        //-             </div>
                        //-         </div>
                        //-     </div>
                        //- </div>
                    </div>
                </div>
            </section>
            //- <section class="subscribe section bg-img">
            //-     <div class="container">
            //-         <div class="row">
            //-             <div class="col-sm-12">
            //-                 <p>Subscribe to our newsletter to get update</p>
            //-                 <form class="form-inline">
            //-                     <div class="form-group">
            //-                         <input type="email" class="form-control" id="user-email" placeholder="Write your email here....">
            //-                     </div>
            //-                     <button type="submit" class="btn ubutia-btn">Send me</button>
            //-                 </form>
            //-             </div>
            //-         </div>
            //-     </div>
            //- </section>
            <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">Drop us a line</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <span class="fa fa-map-o" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Address</h3>
                                    <p>
                                        Level New Delhi, India
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Phone</h3>
                                    <p> 8860933954
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <span class="fa fa-paper-plane" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Email</h3>
                                    <p> support@lebensstil.com
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                                <ul>
                                    <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                                    <a href="#"><li><span class="ion-social-linkedin"></span></li></a>
                                    <a href="#"><li><span class="ion-social-instagram"></span></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        //- <div class="col-sm-12">
                        //-     <p>Design <font class="logo-icon"></font> by <a href="https://www.freshdesignweb.com/">Aman jain</a></p>
                        //- </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src=" javascript/js/jquery-3.1.1.js"></script>
        <script src=" javascript/js/bootstrap.min.js"></script>
        <script src=" javascript/js/owl.carousel.min.js"></script>
        <script src=" javascript/js/jquery.magnific-popup.js"></script>
        <script src=" javascript/js/script.js"></script>
    </body>
</html>